[Unit]
Description=Photo Uploader Server
Documentation=https://github.com/greenberga/uploader

[Service]
User=aaron
Group=aaron
WorkingDirectory=/home/aaron/uploader
Restart=on-failure
Environment=LC_ALL=C.UTF-8 LANG=C.UTF-8
ExecStart=/home/aaron/.pyenv/shims/pipenv run python -u server.py
ExecReload=/bin/kill -1 $MAINPID
ExecStop=/bin/kill -15 $MAINPID
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
